@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-text
}

h1{
  @apply font-semibold text-[40px] leading-[1.1] md:text-[64px] md:-tracking-[0.009em] md:leading-[1.0625]
}


@layer base {

 
  .filter-expanded .filter-options {
    animation: expandOptions 1.2s ease 1 forwards;
    overflow: hidden;
  }

  @keyframes expandOptions {
    0% {
      max-width: 34px;
    }
    95% {
      max-width: 600px;
    }
    100% {
      overflow: visible;
    }
  }
  .collectionname {
    @apply text-[19px] tracking-[0.012em] leading-[1.4211026316] md:text-[21px] md:tracking-[0.231px] md:leading-[1.381002381] pb-2.5
  }
  .buttonText{
    @apply text-[18px] text-white leading-[1.1764805882]
  }

  .sideText{
    @apply text-[12px] font-normal -tracking-[0.01em] leading-[1.33] text-[#06c] underline
  }
  .watchSeries{
    @apply font-semibold text-[12px] text-[#6e6e73] uppercase
  }
  .watchName{
    @apply font-semibold text-[14px] text-text -tracking-[0.016em] leading-[1.5]
  }
  .watchButton{
    @apply font-light text-text text-[17px]
  }

  .watch-image-container {
    height: 53vh;
    width:52vh;
    max-height: 29.8823529412rem;
    min-height: 18.4705882353rem; 
  }

@media (max-width: 736px) {
  .watch-image-container {
    height: 85vw;
    width:85vw;
    max-height: none;
    min-height: 0;
  }
}
@media only screen and (max-width: 320px) {
  .watch-image-container {
    height: 53vh;
    width:42vh;
  }
}
}
